body {
  font-family: sans-serif;
}

.modal-wrap {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.modal {
  background: white;
  padding: 3vw 3vh;
  border-radius: 5vh;
  width: 30vw;
  height: 50vh;
}

.moal-title {
  font-size: 18px;
  font-weight: bold;
}

.modal p {
  font-size: 2vw;
}

.close-wapper {
  text-align: center;
}
